---
const { id, class_="" } = Astro.props;
---

<div id={id + '_container'}>
    <table id={'table_'+id} class={class_ + ' table w-100'} style="table-layout: auto;" >
        <slot/>
    </table>
</div>


<script is:inline define:vars={{id}}>
    let body_width;
    let table_width;

    function set_width(id){
    body_width = $('body').width();
    table_width = body_width - 24;

    if (body_width < 992){
        //document.querySelector(`#${id}`).style = `max-width: ${table_width}px`;
        document.querySelector(`#${id}_container`).style = `max-width: ${table_width}px; overflow-x: auto;`;
    }else{
        document.querySelector(`#${id}_container`).style = `width: 100%; overflow-x: auto;`
    }
}

    set_width(id);

    $( window ).on( "resize", function() {
        set_width(id)
        
    } );
</script>