---
const { id, title, solution="True" } = Astro.props;
---

<style>

    .example_container{
        background-color: #eee;
    }

    .background-green{
        background-color: #e0f0e0;
        border: 1px solid #444;
        border-radius: 5px;
    }
</style>


<div class="my-2 text-black">
    <div class="background-green d-flex flex-column">
        <div id={'example_'+id} class='overflow-auto d-flex flex-row align-items-center'>
            <button class="btn btn-secondary fw-bold" id={'example_btn_'+id}>+</button>
            <div class="px-2">
                <span set:html={solution == 'True' ? "<strong>Example Problem:</strong> " + title : '<strong>Example:</strong> ' + title}></span> {<small>{` #${id}`}</small>}
            </div>
        </div>

        <div id={'example_menu_'+id} class="p-2">
            <div class="w-100">
                <slot />
            </div>
             
           { solution == 'True' && 
            <button class="btn btn-secondary fw-bold" id={'solution_btn_'+id}>Solution +</button>
            <div id={'solution_menu_'+id}>
                <div class="background-green p-2">
                    <slot name="solution"/>
                </div>
            </div> 
            }
        </div>
    </div>
</div>



<script define:vars={{id}} is:inline>
    $(document).ready(function(){
        const menu = $(`#example_menu_${id}`)
        menu.hide();
        const exbutton = $(`#example_btn_${id}`);

        exbutton.on('click', function(){
            menu.slideToggle('fast', function(){
                exbutton.text(exbutton.text() == '+' ? '-' : '+')
            })
        })

        const solution_menu = $(`#solution_menu_${id}`)
        solution_menu.hide();
        const solbutton = $(`#solution_btn_${id}`);

        solbutton.on('click', function(){
            solution_menu.slideToggle('fast', function(){
                solbutton.text(solbutton.text() == 'Solution +' ? 'Solution -' : 'Solution +')
            })
        })
    })
</script>
