---
const { src, width="5", alt='', id="", class_="my-3"} = Astro.props;
---

<style define:vars={{width}}>
    .filename{
        display: none;
    }

    .image-block{
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    img{
        border-radius: 10px;
    }

    @media (min-width: 768px){
        .image-block{
            width: min(calc(var(--width) / 5 * 100%), 100%);
        }
    }

    @media (min-width: 992px){
        .image-block{
            width: min(calc(var(--width) / 6 * 100%), 100%);
        }
    }

    @media (min-width: 1200px){
        .image-block{
            width: min(calc(var(--width) / 7 * 100%), 100%);
        }
    }
</style>

<div class={"img-container w-100 d-flex flex-column align-items-center " + class_} id={id}>
    <div class="d-flex flex-column align-items-center image-block p-1">
        <img src={src} class="w-100" alt={alt} id={`${id}-image`}>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-baseline flex-wrap" style="gap: 5px;">
        <small><em><slot /></em></small>
    </div>
</div>